src/main/app/newtoms_landing_page_exp_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="newtoms_landing_page_exp_api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="newtoms_landing_page_exp_api-config" raml="newtoms_landing_page_exp_api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="newtoms_landing_page_exp_api-main">
        <http:listener config-ref="newtoms_landing_page_exp_api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="newtoms_landing_page_exp_api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="newtoms_landing_page_exp_api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="newtoms_landing_page_exp_api-console">
        <http:listener config-ref="newtoms_landing_page_exp_api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="newtoms_landing_page_exp_api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/landingpage/template/{id}:newtoms_landing_page_exp_api-config">
        <flow-ref name="getLandingPageTemplateByGivenIdAsJson" doc:name="getLandingPageTemplateByGivenIdAsJson"/>

    </flow>
    <sub-flow name="getLandingPageTemplateByGivenIdAsJson">
        <set-variable variableName="idDocumentTemplates" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="set idDocumentTemplates Variable"/>
        <logger message="Landin Page Template with ID: #[flowVars.idDocumentTemplates]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getDocumentTemplateConfigByIdForLandingPage" doc:name="getDocumentTemplateConfigByIdForLandingPage"/>
        <logger message="Landin Page Template with ID: #[flowVars.idDocumentTemplates] Content Title: #[payload.Title]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </sub-flow>
    <flow name="post:/landingpage/lead:application/json:newtoms_landing_page_exp_api-config">
        <flow-ref name="postLeadFromLandingPage" doc:name="postLeadFromLandingPage"/>

    </flow>
    <sub-flow name="postLeadFromLandingPage">
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.Map"/>
        <flow-ref name="createANewLeadFromLandingPage" doc:name="createANewLeadFromLandingPage"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="set Content-Type Property"/>
    </sub-flow>
    <apikit:mapping-exception-strategy name="newtoms_landing_page_exp_api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
